.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.edit-delete-btns {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  
  
}

.car-details button {
  background-color: #08de57;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.car-details button:hover {
  background-color: #0056b3;
}


.car-image {
  max-width: 500px;
  height: auto;
  margin-right: 20px;
}

.car-info {
  max-width: 500px;
  color: chocolate;
}

.car-info p {
  color: black;
}

.comment-form {
  margin: 20px 0;
}

.comment {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}

.comment-form button {
  background-color: #08de57;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}